@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
.inter_common_font {
    font-family: "Inter", sans-serif;
    background-color: #111111;
    border: 1px solid transparent;
}
span.different_font{
    font-family: "Playwrite CU", cursive;
}

/* shared styled */
.btn_bg{
    background-color: #E6533C;
    border: none;
    margin-top: 28px;
    padding: 16px 46px 16px 46px;
    border-radius: 42px;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
.desc_color{
    color: #ffffff87;
    font-weight: 400;
}
.title_color{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
}
/* header secton styled */
.top_header{
    max-width: 1440px;
}
nav.top_nav{
    max-width: 1060px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
a.logo_text{
    color: #E6533C;
    font-size: 2.4rem;
    font-weight: 800;
    text-decoration: none;
}
ul.menu{
    display: flex;
}
.nav_item{
    list-style: none;
    padding: 7px 0px;
    border-radius: 46px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.7s;
    z-index: 3;
}
.nav_item:first-child{
    background-color: #E6533C;
}
.nav_item:not(:last-child){
    margin-right: 40px;
}
a.nav_link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 8px 20px;
}
.top_nav li.nav_item:hover{
    background-color: #E6533C;
}

/* mobile menu styled */
nav.mobile_menu{
    display: none;
}
/* Banner section */
.header_banner{
    max-width: 1060px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}
h1.banner_title{
    line-height: 1.1;
    font-size: 4.8rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 20px;
}
span.different_font{
    font-weight: 100;
}
p.banner_desc{
    font-size: 1rem;
    color: #ffffff87
}
.header_btn{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.blank_btn{
    margin-top: 28px;
    padding: 16px 46px 16px 46px;
    border-radius: 42px;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.join_btn{
    transition: 0.7s;
}
.blank_btn:hover{
    background-color: #E6533C;
    border: 1px solid transparent;
}
.join_btn:hover{
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);

}
span.glass_text_1{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 2.8rem;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff33;
    display: block;
    padding: 5px 0px;
    width: 170px;
    height: 80px;
    position: relative;
    top: 145px;
    left: 230px;
}
p.small_text{
    font-size: 0.7rem;
    font-weight: 400;
    color: #ffffffd9;
    margin-top: 0;
}
.glass_text_2{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff21;
    padding: 10px 0px;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 370px;
    left: -40px;
}
.square{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E6533C;
}
p.small_text_2{
    font-size: 0.7rem;
    font-weight: 400;
    color: #ffffff73;
    margin-top: 0;
}
.left_text{
    text-align: left;
}
.right_content{
    width: 349px;
    height: 580px;
    background-image: url('../images/Images\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/* Habit section styled */
.habits{
    max-width: 1044px;
    color: #fff;
    margin: 50px auto;
}
.habit_header{
    text-align: center;
}
h1.habit_title{
    margin-bottom: 5px;
}
p.habit_header_desc{
    color: #ffffff50;
    font-weight: 400;
    max-width: 70%;
    margin: auto;
}
.habit_box{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.habit_item{
    text-align: center;
}
.habit_content{
    max-width: 95%;
    margin: 0px auto;
}
h3.item_title{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
p.habit_desc{
    margin-top: 8px;
    font-size: 0.7rem;
    font-weight: 400;
}
.habit_item > img{
    width: 70%;
    height: 60%;
    border-radius: 50%;
}
/* Students section styled */
.students{
    max-width: 1440px;
}
.student_container{
    max-width: 1060px;
    margin: 0px auto;
}
h2.student_title{
    margin-bottom: 0px;
}
p.student_desc{
    margin-top: 5px;
}
.students_box{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
}
.student_item_1, .student_item_2, .student_item_3,.student_item_4, .student_item_5, .student_item_6{
    width: 31%;
    height: 300px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
}
.student_text{
    width: 74%;
    box-sizing: border-box;
    margin: 30% auto 30% 200px;
    opacity: 0;
    color: #ffffff;
    display: none;

}
h3.name_plate{
    margin-bottom: 0px;
}
p.desc_plate{
    margin-top: 5px;
}
.student_item_1{
    background-image: url('../images/image\ 2.png');
}
.student_item_2{
    background-image: url('../images/exercise2.png');
}
.student_item_3{
    background-image: url('../images/exercise3.png');
}
.student_item_4{
    background-image: url('../images/exercise4.png');
}
.student_item_5{
    background-image: url('../images/exercise5.jpg');
}
.student_item_6{
    background-image: url('../images/exercise6.jpg');
}
.student_item_1:hover, .student_item_2:hover,.student_item_3:hover, .student_item_4:hover, .student_item_5:hover,.student_item_6:hover{
    background-color: #00000091;
    background-blend-mode: overlay;
    transform: scale(1.1);
    transition: 1s;
}
.student_item_1:hover .student_text,
.student_item_2:hover .student_text,
.student_item_3:hover .student_text,
.student_item_4:hover .student_text,
.student_item_5:hover .student_text,
.student_item_6:hover .student_text{
    transition: 1s;
    margin: 30% auto;
    opacity: 1;
    display: block;
}
.social_links{
    display: flex;
    justify-content: center;
}
.fb, .tw, .ins{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0.9rem;
    margin-right: 6px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #8080808f;
    padding: 14px 14px 11px 12px;
}
/* Runner section styled */
section.runner{
    margin-top: 90px;
}
.runner{
    max-width: 1044px;
    margin: 0px auto;
    padding: 15px;
    display: flex;
    background-color: #80808033;
    border-radius: 18px;
}
h1.runner_title{
    margin-bottom: 0px;
}
p.runner_desc{
    margin-top: 10px;
}
.left_runner{
    width: 65%;
    padding: 15px;
}
.right_runner{
    width: 30%;
    height: 330px;
    background-image: url('../images/run.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
}
/* service section styled */
.service{
    max-width: 1440px;
    margin: 80px auto;
    padding: 0px 0px 50px 0px;
    background-color: #cccccc1a;
}
.service_container{
    max-width: 1060px;
    margin: 0px auto;
}
.service_header{
    text-align: center;
}
.service_box{
    margin-top: 70px;
    padding-top: 20px;
    display: flex;
    gap: 40px;
}
.card_front_title{
    color: #ffffff;
}
.card_front_desc{
    color: #ffffff;
}
.card_back_desc{
    color: #111111;
}
.service_card_1, .service_card_2, .service_card_3{
    height: 250px;
    padding: 6px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}
.card_back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
}
.service_card_1:hover .card_back,
.service_card_2:hover .card_back,
.service_card_3:hover .card_back{
    transform: rotateX(180deg) translateZ(30px);
    transition: 0.2s;
    opacity: 1;
}
.service_card_1:hover,
.service_card_2:hover,
.service_card_3:hover{
    transform: rotateX(180deg) translateY(0px);
}
.card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff63;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_card_1:hover .card_front,
.service_card_2:hover .card_front,
.service_card_3:hover .card_front{
    transform: rotateX(-180deg) translateZ(-30px);
    text-align: center;
    transition: 0.5s;
}
.frontend_content{
    margin: 0px auto;
}
.service_header > .service_title{
    margin-bottom: 0px;
}
/* Training section styled */
.training{
    max-width: 1060px;
    margin: 85px auto;
}
.training_title{
    margin-bottom: 0px;
}
.trainer_box_1{
    display: grid;
    grid-template-columns: repeat(1, 250px 1fr) 300px;
    margin-top: 50px;
}

.trainer_box_2{
    display: grid;
    grid-template-columns: 350px repeat(1, 351px 1fr);
}
.trainer_item_1, .trainer_item_2, .trainer_item_3, .trainer_item_4, .trainer_item_5, .trainer_item_6{
    width: 100%;
    height: 214px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trainer_item_1{
    background-image: url('../images/exercise1.jpg');
    background-color: #00ffff57;
    background-blend-mode: overlay;
}
.trainer_item_2{
    background-image: url('../images/exercise2.png');
    background-color: #ff00004f;
    background-blend-mode: overlay;
}
.trainer_item_3{
    background-image: url('../images/exercise3.png');
}
.trainer_item_4{
    background-image: url('../images/exercise4.png');
}
.trainer_item_5{
    background-image: url('../images/exercise5.jpg');
    background-color: #00800078;
    background-blend-mode: overlay;
}
.trainer_item_6{
    background-image: url('../images/exercise6.jpg');
    background-color: #0000ff54;
    background-blend-mode: overlay;
}
p.name_text{
    text-align: center;
}
/* BMI section styled */
.calculator{
    max-width: 1440px;
}
.calculator_header{
    max-width: 670px;
    margin: 70px auto 50px auto;
}
.calculator_container{
    max-width: 1440px;
    padding: 30px 10px;
    background-color: #8080802b;
}
.two_column{
    max-width: 1060px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.calulator_title{
    margin-bottom: 0px;
}
h2.chart_title, h2.form_title{
    text-align: start;
    color: #FFFFFF;
}
table{
    margin-top: 60px;
}
table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    color: #fff
}
th{
    color: #ffffffc7;
    font-size: 1.2rem;
}
td{
    color: #ffffff87;
    font-size: 0.8rem;
}
td, th{
    padding: 20px;
}
.chart_section, .form_secton{
    width: 50%;
}
h2.form_title{
    margin-bottom: 0px;
}
form.input_form{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.input_form input[type='text'], .input_form select:not(#select_factor){
    width: 33%;
    padding: 12px 40px 12px 40px;
    background-color: #FFFFFF1A;
    border: none;
    border-radius: 5px;
}
.input_form select#select_option{
    width: 48%;
}
.input_form select#select_factor{
    width: 98%;
    padding: 12px 40px 12px 40px;
    background-color: #FFFFFF1A;
    border: none;
    border-radius: 5px;
}
select{
    color: #FFFFFF99;
}
section option{
    background-color: #E6533C;
}
input::placeholder{
    color: #FFFFFF99;
}
/* Teams section styled */
.teams{
    padding-top: 30px;
    max-width: 1440px;
}
.team_container{
    max-width: 1060px;
    margin: 0px auto;
}
.team_header{
    text-align: center;
}
h1.team_header_title{
    margin-bottom: 0px;
}
.team_box{
    margin: 85px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0px;
}
.team_item_1, .team_item_2, .team_item_3, .team_item_4, .team_item_5, .team_item_6{
    width: 31.3%;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
}
.trainer_text{
    width: 80%;
    height: auto;
    text-align: start;
    position: relative;
    top: 60%;
    bottom: 0px;
    left: 20px;
}
.trainer_text h5{
    margin-bottom: 0px;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 900;
}
.trainer_text p{
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
.team_item_1{
    background-image: url('../images/trainer1.png');
}
.team_item_2{
    background-image: url('../images/trainer2.png');
}
.team_item_3{
    background-image: url('../images/trainer3.png');
}
.team_item_4{
    background-image: url('../images/trainer4.png');
}
.team_item_5{
    background-image: url('../images/trainer5.png');
}
.team_item_6{
    background-image: url('../images/trainer6.png');
}
/* Footer section styled */
.footer_section{
    max-width: 1440px;
}
.footer_container{
    max-width: 1060px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 51.9% repeat(1, 31.8% 1fr);
}
h1.footer_left_title{
    color: #E6533C;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0px;
}
p.footer_desc{
    width: 80%;
    line-height: 1.3;
}
.footer_menu, .right_footer_menu{
    padding-left: 1px;
}
.footer_menu li,  .right_footer_menu li{
    margin-bottom: 15px;
    list-style: none;
}
h2.footer_middle_title{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}
.footer_menu li a,  .right_footer_menu li a{
    color: #ffffff87;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}
.footer_menu li a:hover, .right_footer_menu li a:hover{
    text-decoration: underline;
}
.footer_bootom {
    max-width: 1440px;
    color: #fff;
}
.reserved_text{
    max-width: 1060px;
    padding-top: 20px;
    margin: 30px auto;
    text-align: center;
    border-top: 1px solid #333;
}